#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photographer_gallerie{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: auto;
  margin-top: 25px;
}

.photographie-card{
  margin: auto;
}

.photographer_gallerie img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.photographer_gallerie video{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 8px;
}


.infos-of-photo{
  display: flex;
  justify-content: space-between;
}

#photo_like{
  margin-top: 0px;
}

.photolike_with_icone{
  display: flex;
  gap: 8px;
  margin-top: 19px;
  color: #901C1C;
  font-weight: 700;
  font-size: larger;
}

#portrait{
  height: 200px;
  border-radius: 50%;
  align-self: self-start;
}

.photographer_page h2{
  font-size: 56px;
  margin-bottom: 0px;
  color: #DB8876;
}

#photo_name{
  color: #901C1C;
  font-weight: 700;
  font-size: larger;
}

.photographer_informations{
  grid-column: 1 / 3;
  margin-left: 24px;
}

.contact_button{
  grid-column: 2 / 3;
  align-self: center;
  margin: auto;
}

#portrait{
  grid-column: 3 / 3;
  width: 200px;
  object-fit: cover;
}

.photograph-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#phograph_city{
  color: #901C1C;
  margin-top: 5px;
  font-size: 32px;
  margin-bottom: 0px;
}

.photographer_portrait{
  align-self: center;
  margin: auto;
}

.filter_menu{
  display: none;
  background-color: #901C1C;
  color: whitesmoke;
  width: 134px;
  height: 120px;
  font-size: 16px;
  margin-left: 8px;
  padding-top: 8px;
  font-weight: initial;
}

#date-button{
  display: none;
}

#title-button{
  display: none;
}

#popularity-button{
  display: block;
}

.filter_choice{
  background-color: #901C1C;
  color: whitesmoke;
  width: 134px;
  height: 44px;
  margin-left: 8px;
  border: 3px whitesmoke solid;
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
  font-size: 16px;
}

.filter_choice span{
  align-self: center;
  margin: auto;
}

.filter_choice .fa-chevron-down{
  margin: auto;
}

.filter{
  display: flex;
  margin-left: 100px;
  font-size: 16px;
  font-weight: 600;
}

.popularity{
  display: flex;
  justify-content: space-between;
  margin-right: 3px;
  margin-left: 3px;
  font-size: smaller;
}

.date{
  display: flex;
  justify-content: space-between;
  margin-right: 3px;
  margin-left: 3px;
}

.title{
  display: flex;
  justify-content: space-between;
  margin-right: 3px;
  margin-left: 3px;
}

i{
  pointer-events: none;
}

.square_total_likes{
  background-color: #DB8876;
  position: sticky;
  bottom: 0;
  left: 76%;
  width: 22%;
  font-size: larger;
  font-weight: bold;
}

.square{
  display: flex;
  gap: 24px;
  justify-content: space-around;
}

.fa-heart{
  margin-top: 2px;
}

.images img{
  width: 200px;
  height: 200px;
}

.lightbox{
  display: none;
  width: 80%;
  height: 800px;
  background-color: grey;
  position: absolute;
  top: 80px;
  left: 160px;
}

button{
  height: 20px;
}

.carousel-container{
  display: flex;
}

.carousel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close{
  position: absolute;
  top: 8px;
  right: 8px;
}

.carousel-container img{
  width: 35%;
  margin: auto;
  display: none;
}

.carousel-container video{
  width: 35%;
  margin: auto;
  display: none;
}

.visible{
  display: block !important;
}
