.images img{
  width: 200px;
  height: 200px;
}

.lightbox{
  display: none;
  width: 80%;
  height: 800px;
  background-color: grey;
  position: absolute;
  top: 80px;
  left: 160px;
}

button{
  height: 20px;
}

.carousel-container{
  display: flex;
}

.carousel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close{
  position: absolute;
  top: 8px;
  right: 8px;
}
